# == Gitignore Files == #

# Packages
dist/
build/
*.egg-info/

# - Virtual Environment
venv/
.venv/

# Test & Coverage
.coverage
.pytest_cache/
htmlcov/


# - Editor Setting Files (Pycharm, VSCode ...)
.idea/
.vscode/

# - Cache Files
__pycache__/
*.pyc

# - MacOS System Files
.DS_Store
